.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.chart,
.data-container {
  flex: 1;
  min-width: 300px; /* Ensures both have a reasonable minimum width */
}

.data-container {
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
